@import "purecss/build/pure.css";
@import "purecss/build/grids-responsive.css";
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  background-color: antiquewhite;
}

main {
  min-height: calc(100vh - 75px);
}

footer {
  height: 75px;
  line-height: 1.5em;
}

a {
  color: #754103;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #2E98BF;
}

html, button, select,
.pure-g [class *= "pure-u"] {
  font-family: 'Cairo', sans-serif;
}

#logo {
  width: 600px;
  max-width: 70%;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

#github-logo {
  height: 15px;
}

h1 {
  color: #2E98BF;
  text-align: center;
}

p {
  line-height: 1.5em;
}

p, footer {
  color: #754103;
  text-align: center;
}

p, label, input, textarea, footer {
  font-size: 1.2em;
}

input, textarea {
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
}

input[type=search] {
  -webkit-appearance: none;
  background-color: white;
  border-radius: 4px 4px 0 0 !important;
}

textarea {
  border-radius: 0 0 4px 4px !important;
}

input[type=checkbox] {
  margin-left: 0.5em;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
  margin-right: 0.4em;
}

label {
  color: #754103;
}

.centered {
  justify-content: center;
}

@media (min-width: 768px) {
  p, label, input, textarea, footer {
    font-size: 1.5em;
  }
  
  input[type=checkbox] {
    transform: scale(1.2);
  }
  
  #github-logo {
    height: 20px;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 2.4em;
  }
  p, label, input, textarea {
    font-size: 2em;
  }

  input[type=checkbox] {
    transform: scale(2.0);
  }
}
